.fadeup {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
    animation-delay: 0.2s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* animação fade-in */
.fade-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}

.fade-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}


/* animação fade-in */
.fade-scroll-left {
  opacity: 0;
  transform: translateX(300px);
  transition: all 0.5s ease;
}

.fade-scroll-left.visible {
  opacity: 1;
  transform: translateX(0);
}

