@media (min-width: 992px) {

    .u-nav {
        position: relative;
        text-decoration: none;
    }

    .u-nav::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background-color: #ffffff9a;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .u-nav:hover::after {
        transform: scaleX(1);
    }

    .linha-index {
        border: 1px solid #ffffff5e;
    }


}