:root {
  --cor01: #ebfaff;
  --cor02: #1c7e3d;
  --cor03: #000;
  --cor04: #063f26;

  /* gradiente bg */
  --bg-top: #42805ed2;
  --bg-bot: #0e5a3a75;

  --hover-cor01: #000000;
  /* Casca de árvore - marrom médio */
  --hover-cor02: #ffffff;

}

/* Cores de texto */
.cor01 {
  color: var(--cor01);
}

.cor02 {
  color: var(--cor02);
}


/* Botões */
.btn01 {
  background-color: var(--cor02);
  color: var(--cor01);
  border-radius: 0px;
  transition: 0.3s ease;
  border-radius: 5px;
}

.btn02 {
  background-color: var(--cor02);
  color: white;
  border-radius: 5px;
  transition: 0.3s ease;
  box-shadow: 0px 0px 10px #00000067;
}

.modal-sobre {
  transition: 0.3s ease;
}


/* Hovers */
.btn01:hover {
  background-color: var(--cor04);
  color: var(--cor01);
  transition: 0.3s ease;
  border-radius: 5px;
}

.btn02:hover {
  background-color: var(--hover-cor02);
  transition: 0.3s ease;
  transform: scale(1.05);
  border-radius: 0px;
}

.navbar.scrolled {
  background-color: var(--cor01);
}


/* Backgrounds */
.bg01 {
  background-color: var(--cor01);
}

.bg02 {
  background-color: var(--cor02);
}

.bg03 {
  background-color: var(--cor03);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;

}

/* Removendo estilos padrão de listas */
ul,
ol {
  list-style: none;
}

/* Resetando estilos padrão de links */
a {
  text-decoration: none;
  color: inherit;
}



/* fim do reset CSS */

.logo {
  width: 15rem;
}

.logo-mobile {
  width: 15rem;
}

.navbar-collapse {
  transition: 0.2s ease;
}


.borda {
  border-bottom: 1px solid #ffffff41;

}

.hero-img {
  background-image: linear-gradient(to bottom, var(--bg-top), var(--bg-bot)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo-footer {
  width: 250px;
}

.container {
  width: 90%;
}





.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  /* distância da parte inferior */
  right: 30px;
  /* distância da parte direita */
  background-color: #25d365;
  /* cor oficial do WhatsApp */
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  /* efeito ao passar o mouse */
}

.mini-title {
  font-size: 0.7rem;
}

@media (min-width: 992px) {

  .logo-mobile {
    display: none;
  }

  .fixed-nav {
    display: none;
  }

  .linha-div {
    border: 1px solid var(--cor02);
  }

  .hero-cta {
    width: 50%;
  }

  .hero-txt {
    font-size: 3rem;
  }

  .u-fx {
    position: relative;
    text-decoration: none;
  }

  .u-fx::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: var(--cor02);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .u-fx:hover::after {
    transform: scaleX(1);
  }

  .fonte-nav {
    color: var(--cor02);
    font-weight: 600;
  }

  .fonte-nav:hover {
    color: var(--cor02);
  }

  .hero-section {
    padding-top: 5rem;
  }

}



@media (max-width: 992px) {
  .navbar-collapse {
    margin-top: 15px;
  }

  .header-desk {
    display: none;
  }

  .fonte-nav {
    color: var(--cor02) !important;
  }

  .logo {
    display: none;
  }

  .navbar {
    background-color: var(--cor01);
  }



  .hero-img {
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--bg-top), var(--bg-bot)),
      url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-section {
    padding-top: 5rem;
    position: sticky;
  }

}